.pizi-menu-item{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
    width: 200px;
    height: 200px;

    &:hover{
        filter: brightness(0.2);
    }

    svg{
        font-size: 1.4em;
    }
}