@import (reference) "../../../styles/variables.less";

.error-screen{
    margin: 1em auto;
    display: flex;

    h1{
        text-align: center;
    }
    p{
        font-size: 1.4em;
        text-align: center;
    }
    svg{
        margin-top: 0.2em;
        font-size: 6em;
    }
    a{
        margin: 1em auto;
    }
}