.appearance(){
    &.fill{
        background-color: @color-main;
        color: @color-secondary;
        border: @border;

        &:not(:not(button)):active{
            background-color: @color-main-light;
            border-color: @color-main-light;
        }
    }
    
    &.border{
        border: @border;
        background-color: transparent;
        color: @color-main;

        &:not(:not(button)):active{
            background-color: @color-main;
            color: @color-secondary;
        }
    }
    
    &.simple{
        border: @border;
        background-color: transparent !important;
        border-color: transparent !important;
        color: @color-main;

        &:not(:not(button)):active{
            background-color: transparent;
        }
    }
    @import "component-mixins-alt";
}

.size(){
    &.small{
        font-size: @font-small;
    }

    &.medium{
        font-size: @font-medium;
    }

    &.large{
        font-size: @font-large;
    }
}

@gradient-height: 8px;
.gradient(){
    content: "";
    display: block;
    width: 100%;
    height: @gradient-height;
    position: absolute;
    z-index: 1;
}

.gradient-top(@color){
    position: relative;

    &:before{
        .gradient();
        background: linear-gradient(to top, @color 0%, rgba(0,0,0,0.2) 100%);
        top: -@gradient-height;
    }
}

.gradient-bottom(@color){
    position: relative;

    &:after{
        .gradient();
        background: linear-gradient(to bottom, @color 40%, transparent 100%);
        bottom: -@gradient-height;
    }
}