&.theme_alt{
    &.fill{
        background-color: @color-main-alt;
        border-color: @color-main-alt;
        color: @color-secondary-alt;
    
            &:not(:not(button)):active{
                background-color: @color-main-alt-light;
                border-color: @color-main-alt-light;
            }
    }
    
    &.border{
        border-color: @color-main-alt;
        background-color: transparent;
        color: @color-main-alt;

        &:not(:not(button)):active{
            background-color: @color-main-alt;
            color: @color-secondary-alt;
        }
    }
    
    &.simple{
        background-color: transparent !important;
        border-color: transparent !important;
        color: @color-main-alt;

        &:not(:not(button)):active{
            background-color: transparent;
        }
    }
}