/**********************************************
                    Fonts
 **********************************************/
@font-family: Arial, Helvetica, sans-serif;
@letter-spacing-medium: 0.02em;
@line-height: 1.2em;
@font-size: 16px;

@font-medium: 1rem;
@font-small: 0.8rem;
@font-large: 1.2rem;

@color-black: #000;
@color-light-black: #333;
@color-light-grey: #bbb;
@color-grey: #888;
@color-dark-grey: #555;
@color-white: #ddd;
@background-dark: #111;

@border-width: 0.18em;
@border: @border-width solid transparent;
@border-radius: 0.8em;

/**********************************************
                    Colors
 **********************************************/
/* MAIN */ 
@color-main: peru;
@color-main-light: lighten(@color-main, 8%);
@color-main-dark: darken(@color-main, 30%);
@color-main-alt: @color-secondary;

@color-secondary: #222;
@color-secondary-light: lighten(@color-secondary, 10%);
@color-secondary-dark: @color-main;
@color-secondary-alt: @color-main;

/* OTHER */
@color-blue: #85C1E9;
@color-blue-dark: darken(@color-blue, 40%);
@color-blue-alt: @color-secondary; 

@color-success: #2ECC71;
@color-success-dark: darken(@color-success, 30%); 
@color-success-alt: @color-secondary; 

@color-error: #EC7063 ;
@color-error-dark: darken(@color-error, 40%);
@color-error-alt: @color-secondary; 

@color-warn: #F1C40F;
@color-warn-dark: darken(@color-warn, 30%);
@color-warn-alt: @color-secondary; 

/* ALT */ 
@color-main-alt-light: lighten(@color-main-alt, 8%);
@color-main-alt-dark: darken(@color-main, 10%);

@color-secondary-alt-light: lighten(@color-secondary-alt, 10%);
@color-secondary-alt-dark: darken(@color-secondary, 10%);

/* GROUPS */
@colors: main, secondary, blue, success, error, warn;