@import (reference) '../../styles/variables.less';

&.theme_alt{
    color: @color-main-alt;

    &.fill{
        background-color: @color-main-alt;
        border-color: @color-main-alt;
        color: @color-secondary-alt;
    }

    &.border{
        border-color: @color-main-alt;
    }
}