.pizi-login{
    width: 300px;

    .login-box{
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 3em;
        animation: fadeIn;
        animation-duration: 2s;

        >*{
            each(range(0.4, 2, 0.1), {
                &:nth-child(@{index}){
                    animation-delay: unit(@value, s);
                }
            });
        }
    }

    .pizi-switch, .password{
        margin-bottom: 0;
    }

    a{
        margin-bottom: 1.4em;
    }

    .pizi-alerts{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 300px;
    }
}