@import (reference) '../../styles/variables.less';
@import (reference) "../../styles/component-mixins.less";

.pizi-number-input{

    .pizi-number-input__input{
        display: flex;
        justify-content: space-between;
        align-items: center;

        span{
            margin: 0 1em;
            color: @color-white;
            font-size: 1.4em;
            letter-spacing: 1px;
        }

        button svg{
            color: @color-grey;
        }
    }
    
}