&.theme_alt{
    background-color: @color-secondary-alt;
    border-color: @color-secondary-alt;

    &.secondary{
        border-color: @color-main-alt;
    }

    &.border{
        border-color: @color-main-alt;
        color: @color-main-alt;
    }
}