@import (reference) '../../styles/variables.less';
@import (reference) "../../styles/component-mixins.less";

.pizi-button-group{
    display: flex;
    align-items: center;
    padding: 0.2em 0.6em;
    border-radius: @border-radius;
    background-color: @color-secondary;
    border: @border;
    font-size: @font-medium;
    width: 100%;

    @import 'button-group-alt';

    &.small{
        padding: 0.2em 0.4em;
    }

    .appearance();
    .size();

    button + button{
        margin-left: 0.4em;
    }

    .icon + .icon{
        margin-left: 0.6em;
    }
}