@import (reference) '../../styles/variables.less';
@import (reference) "../../styles/component-mixins.less";

.pizi-table{
    border: @border;
    border-radius: @border-radius;
    flex: 1 auto;
    word-break: break-all;

    &.fill{
        table{
            //color: @color-black;

            thead{
                th{
                    border-color: @color-secondary;
                }
            }
        }
    }

    &.border{
        .pizi-pagination{
            border: none;
            border-top: 2px solid peru;
            border-radius: 0;
        }
    }

    .pizi-table-container{
        overflow: auto;
    }

    table{
        border-collapse: collapse;
        width: 100%;
        color: inherit;
    }

    thead{
        th{
            white-space: nowrap;
            padding: 0.3em 0.6em;
            vertical-align: middle;
            border-bottom: @border;
            border-color: @color-secondary;
        }

        .head-cell{
            display: inline-flex;
            align-items: center;
            background-color: transparent;
            border: none;
            margin-left: -0.6em;
            font-size: 1.4em;
            width: 100%;

            svg{
                visibility: hidden;
                opacity: 0.5;
            }
        }

        .order{
            svg{
                visibility: visible;
            }
        }

    }

    tbody{
        td{
            padding: 0.4em 0.6em;
        }

        tr:nth-child(even) {
            td{
                background-color: rgba(0,0,0,0.1);
            }
        }
    }
}