@charset "UTF-8";
/* Normalize */
@import "../node_modules/normalize.css/normalize.css";

@font-family: Arial, Helvetica, sans-serif;
@color-dark: #222;
@color-primary: peru;

body{
    background-color: @color-dark;
    font-family: @font-family;
}

h1{
    color: @color-primary;
}